.container{
    background-color: aqua;
    color: white;
    display: flex;
    align-items: center;
    
}

.search{
    padding: 55px;
    display: inline-block;
    position: relative;
    margin: 8px;
    box-sizing: border-box;
    left: 400px;
    width: 50%;  
}


input[type=submit] {
    background-color: black;
    color: white;
    position: relative;
    border-radius: 5px;
}


.items{
    border: 1px solid grey;
    display: grid; 
    margin: 15px;
    width: 900px;
    padding: 15px;
}


input[type=text] {
    display: flexbox;
    width: 95%;
    position: relative;
}



.fa-solid {
    color: red;
       
}


.items-list{
position: relative;
right: 50px;
}

.list-group-item{
   border: 1px solid grey;
   height: 4vh;
   
}

.fa-solid{
    position: relative;
    left: 780px;
    
}