*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    background-color: aqua;
    color: black;
    width: 900px;
    margin-top: 50px;
    margin-left: 50px;
    padding: 10px;
    border-radius: 25px
}

.search{
    padding: 10px;
    margin: 8px;
    box-sizing: border-box;
    left: 500px;
    width: 50%; 
    border: 1px solid;
    border-radius: 5px;
    bottom: 20px;;
}


input[type=submit] {
    background-color: black;

    color: white;
    margin-top: 5px;
    padding: 10px;
    position: relative;
    border-radius: 5px;
}


.items{
    border: 1px solid grey;
    display: grid; 
    margin: 50px;
    width: 900px;
    padding: 15px;
    border-radius: 25px;
}


input[type=text] {
    display: flex;
    width: 95%;
    position: relative;
    padding: 8px;
    width: 300px;
    border: 1px solid;
    border-radius: 50px;
}


.items-list{
position: relative;
}

.list-group-item{
   border: 1px solid grey;
   display: flex;
   margin: 15px;
   border-radius: 5px;

   
}

.fa-solid{
    position: relative;
    align-items: flex-end;
    left: 5px;
    bottom: 5px;
    display: flex;
    width: 25px;
    color: red;
    
    
}
#item {
border-radius: 25px;
margin: 15px;
list-style-type: none;
width: 500px;
}

.list-group-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid grey;
    
}
